/**основные цвета**/
/* :root {
  --brand-color-title: #212121;
  --brand-color-text: #757575;
  --brand-color-substrate: #2f303a;
  --brand-color-basic: #2196f3;
  --brand-color-name: #ffffff;
  --brand-color-line: #ececec;
  --brand-color-back: #f5f4fa;
  --brand-color-backgraund: rgba(47, 48, 58, 0.4);
  --brand-color-nummer: rgba(245, 244, 250, 1);
  --brand-color-link: #afb1b8;
  --brand-color-recht: rgba(238, 238, 238, 1);
  --brand-color-schadow: #e5e5e5;
  --brand-color-imgbox: rgb(47, 48, 58, 0.8);
  --brand-color-backdrop-index: rgba(0, 0, 0, 0.2);
  --brand-color-basic-overlay: rgba(33, 150, 243, 0.9);
  --brand-color-label-form: rgba(33, 33, 33, 0.2);
  --brand-color-link-footer: rgba(255, 255, 255, 0.1);
} */

/**изменения цвета кнопки**/
.header .color-block:hover,
.header .color-block:focus,
.header .color-block-a:hover,
.header .color-block-a:focus {
  color: var(--brand-color-basic);
  transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.button .button-alle:hover,
.button .button-alle:focus {
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
  box-shadow: 0 2px 2px 0 var(--brand-color-link);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
/* .adress .footer-a:hover,
.adress .footer-a:focus {
  color: var(--brand-color-name);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
} */
.poster .poster-blank:hover,
.poster .poster-blank:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* * {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  font-family: Roboto;
  color: var(--brand-color-title);
  font-size: 14px;
  line-height: 1.72;
  background-color: var(--brand-color-name);
  letter-spacing: 0.03em;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-help {
  padding-bottom: 0px;
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */
/**верхняя линия**/
/* .header {
  border: 1px solid var(--brand-color-line);
}
.header-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
} */
/* .web-studio-header {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
}
.web-studio-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
}

.heder-web {
  color: var(--brand-color-title);
}
.footer-studio {
  color: var(--brand-color-name);
} */
/* .color-block-a {
  color: var(--brand-color-title);
}
.color-block {
  color: var(--brand-color-text);
}

.header-nav {
  display: flex;
  align-items: center;
}
.drei-button {
  display: flex;
  margin-left: 93px;
}

.drei-button-item {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-title);
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.zwei-button {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.zwei-button-item {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-text);
}
.zwei-button-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link::after {
  content: "";
  opacity: 1;
  position: absolute;
  display: block;
  bottom: -32.5px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--brand-color-basic);
}
.navigation-link {
  position: relative;
}

.icon-header .icon-header-item:hover,
.icon-header .icon-header-item:focus {
  background-color: var(--brand-color-name);
  fill: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.icon-header:hover .icon-header-item,
.icon-header:focus .icon-header-item {
  color: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.icon-header:hover,
.icon-header:focus {
  fill: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.icon-header:hover .icon-header-item,
.icon-header:focus .icon-header-item {
  fill: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.zwei-button .icon-header:hover,
.zwei-button .icon-header:focus {
  border: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.icon-header {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.icon-header-linc {
  margin-right: 10px;
}

.icon-header-item {
  display: flex;
  align-self: center;
  fill: var(--brand-color-text);
}
 */
/**index**/
/**шапка**/
/* .hero {
  max-width: 1600px;
  height: 600px;
  background-color: rgba(196, 196, 196, 0.1);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */

/* .effective {
  font-size: 44px;
  line-height: 1.36;
  color: var(--brand-color-name);
  font-weight: 900;
  margin-bottom: 30px;
}
.to-order {
  background-color: var(--brand-color-basic);
  font-size: 16px;
  line-height: 1.82;
  color: var(--brand-color-name);
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
} */

/* .backdrop {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color-backdrop-index);
  opacity: 1;
} */
/* .modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  background-color: var(--brand-color-name);
  opacity: 1;
  border-radius: 4px;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
} */
/* .backdrop.is-hidden {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color-title);
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
} */

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.data-modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid var(--brand-color-name);
}
.close {
  display: flex;
}
.close-mod {
}
.close-modal {
  width: 30px;
  height: 30px;
  top: 9px;
  right: 10px;
}
.data-modal-close:hover .close-modal,
.data-modal-close:focus .close-modal {
  fill: var(--brand-color-basic);
}
.modal-text {
  font-size: 20px;
  line-height: 1.7;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
.textarea {
  resize: none;
}
.label-form {
  display: flex;
  flex-direction: column;
}

.label-form-formul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 20px;
}

.button-label {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
  border-color: var(--brand-color-basic);
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
}

.label .customers-icon:hover,
.label .customers-icon:focus {
  box-shadow: var(--brand-color-basic);
}
.button-modal {
  display: flex;
}
.conditions {
  color: var(--brand-color-basic);
  padding-right: 10px;
}

.label-form-position {
  border: 1px solid var(--brand-color-label-form);
  border-radius: 1px solid var(--brand-color-basic);
  border-radius: 4px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
}

.icon-modal-button:focus-within .customers-icon-modal {
  fill: var(--brand-color-basic);
}

.label-form-position:focus-within {
  border: 1px solid var(--brand-color-basic);
  border-radius: 4px;
  outline: none;
}

.label-form-text {
  resize: none;
  color: var(--brand-color-text);
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  margin-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.label-form-text:focus-within {
  border: 1px solid var(--brand-color-basic);
  border-radius: 4px;
  outline: none;
}

.icon-modal-button {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.customers-icon-modal {
  width: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox {
  margin-left: 7px;
}

/**особенности**/
/* .peculiaritiese {
  display: flex;
  align-items: stretch;
  padding-top: 0px;
}
.block:not(:last-child) {
  margin-right: 30px;
}
.block-name {
  width: 270px;
  height: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.block-text {
  width: 270px;
  height: 75px;
  font-weight: 400;
  color: var(--brand-color-text);
} */
/**Чем мы занимаемся**/
/* .how-a {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.imgbox-a:not(:last-child) {
  padding-right: 30px;
}
.imgbox {
  display: flex;
  justify-content: space-between;
}
.box-imgbox {
  position: relative;
  bottom: 75px;
  width: 100%;
  background-color: var(--brand-color-imgbox);
  text-align: center;
}

.overlay-a {
  color: var(--brand-color-name);
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}
 */
/**Наша команда**/
/* .ourteam {
  background: var(--brand-color-back);
}
.our {
  font-size: 36px;
  line-height: 1.17;
  color: var(--brand-color-title);
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
.fotogrupp {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
}
.foto-a {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--brand-color-name);
}
.foto-a:not(:last-child) {
  margin-right: 30px;
}

.name-img {
  font-size: 16px;
  line-height: 1.2;
  color: var(--brand-color-title);
  font-weight: 500;
}
.name-specialitat {
  font-size: 16px;
  color: var(--brand-color-text);
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 16px;
}

.name-i-s {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
} */

/**portfolio**/
/**button**/ /* 
.button-poster {
  display: block;
  padding-bottom: 94px;
}
.button {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color-title);
  font-weight: 500;
}
.button-all {
  text-align: center;
}
.alle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.button-alle {
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.button-all:not(:last-child) {
  margin-right: 8px;
}

.button-a {
  height: 38px;
  width: 73px;
}
.button-b {
  height: 38px;
  width: 128px;
}
.button-c {
  height: 38px;
  width: 145px;
}
.button-d {
  height: 38px;
  width: 103px;
}
.button-e {
  height: 38px;
  width: 130px;
} */
/* .poster {
  display: flex;
  flex-wrap: wrap;
}
.poster-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--brand-color-recht);
  border-bottom: 1px solid var(--brand-color-recht);
}

.poster-blank {
  display: flex;
  border-bottom: 1px solid var(--brand-color-recht);
}
.poster-blank:not(:nth-child(3n)) {
  margin-right: 30px;
}
.poster-blank:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.poster-foto {
  text-decoration: none;
}
.poster-name {
  font-size: 18px;
  line-height: 2;
  color: var(--brand-color-title);
  font-weight: 700;
  margin-bottom: 4px;
}
.poster-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--brand-color-text);
  font-weight: 400;
}

.box-poster {
  position: absolute;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.poster-blank:hover .overlay,
.poster-blank:focus .overlay {
  transform: translatex(0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
} */
/* .overlay {
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  width: 370px;
  height: 294px;
  color: var(--brand-color-name);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  height: 1.55;
  background-color: var(--brand-color-basic-overlay);
  transform: translatey(101%);
  transition: transform 250ms;
} */

/**подвал**/
/* .footer {
  background-color: var(--brand-color-substrate);
  font-weight: 400;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.adress-adress {
  color: var(--brand-color-name);
}
.adress {
  color: var(--brand-color-name);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-a {
  font-style: normal;
  font-weight: 400;
  color: var(--brand-color-text);
  text-decoration: none;
}

.button-label-footer {
  background-color: var(--brand-color-basic);
} */

/**social**/ /**social**/
/* .social-link:hover,
.social-link:focus {
  background-color: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--brand-color-back);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  fill: var(--brand-color-back);
}
.social-item:not(last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: var(--brand-color-link);
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
} */

/* .social-link:hover,
.social-link:focus {
  background-color: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--brand-color-back);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
} */
/* 
.list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  fill: var(--brand-color-back);
}
.social-item:not(last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: var(--brand-color-link);
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 */
/**foter social**/
/* .footer-alle {
  display: flex;
  align-items: baseline;
} */

/* .footer-social {
  color: var(--brand-color-back);
  display: block;
}

.footer-social-icon {
  fill: var(--brand-color-name);
}

.footer-join {
  margin-bottom: 20px;
  padding-top: 0px;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: var(--brand-color-name);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.footer-social-link {
  background-color: var(--brand-color-link-footer);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
} */

/* .footer-blank {
  margin-left: 93px;
}
.footer-blank-name {
  color: var(--brand-color-name);
  text-transform: uppercase;
  margin-bottom: 20px;
} */

/* .label-footer-text {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  color: var(--brand-color-name);
  background: var(--brand-color-substrate);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

.label-footer-text:focus-within {
  border: 1px solid var(--brand-color-basic);
  border-radius: 4px;
  outline: none;
}

.subscribe .label-footer-text:hover,
.subscribe .label-footer-text:focus {
  border-radius: var(--brand-color-basic);
}

.customers-icon-footer {
  fill: var(--brand-color-name);
  margin-left: 10px;
}
.button-label-footer {
  position: absolute;
  color: var(--brand-color-name);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: bold;
  font-style: 16px;
  line-height: 1.87;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--brand-color-basic);
} */

/**customers**/
.regular-customers {
  font-size: 36px;
  line-height: 1.17;
  color: var(--brand-color-title);
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
.customers-social {
  display: flex;
  justify-content: center;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 90px;
}

.customers-item {
  border: 1px solid var(--brand-color-link);
  border-radius: 4px;
}
.customers-item:not(:last-child) {
  margin-right: 30px;
}
.customers-icon {
  fill: var(--brand-color-link);
  /**margin-top: 16px;**/
}
.customers-item:hover,
.customers-item:focus {
  fill: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.customers-item:hover .customers-icon,
.customers-item:focus .customers-icon {
  fill: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.customers-social .customers-item:hover,
.customers-social .customers-item:focus {
  border: 1px solid var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.icon-item {
  display: flex;
  justify-content: center;
}
.peculiaritiese-item {
  background-color: var(--brand-color-back);
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.peculiaritiese-item:not(:last-child) {
  margin-right: 30px;
}
.peculiaritiese-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.peculiaritiese-icon {
}
