.regular-customers {
  font-size: 36px;
  line-height: 1.17;
  color: var(--brand-color-title);
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
  justify-content: center;
}
.customers-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 90px;
}

.customers-list__item {
  border: 1px solid var(--brand-color-link);
  border-radius: 4px;
}
.customers-list__item:not(:last-child) {
  margin-right: 30px;
}
.customers-list__icon {
  fill: var(--brand-color-link);
  /**margin-top: 16px;**/
}
.customers-list__item:hover,
.customers-list__item:focus {
  fill: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.customers-list__item:hover .customers-list__icon,
.customers-list__item:focus .customers-list__icon {
  fill: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.customers-list .customers-list__item:hover,
.customers-list .customers-list__item:focus {
  border: 1px solid var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
