.how-a {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.imgbox-a:not(:last-child) {
  padding-right: 30px;
}
.imgbox {
  /**padding: 15px;**/
  display: flex;
  justify-content: space-between;
}
.box-imgbox {
  position: relative;
  bottom: 75px;
  width: 100%;
  background-color: var(--brand-color-imgbox);
  text-align: center;
}
