.nav-icon {
  display: flex;
  justify-content: center;
}
.nav-icon__item {
  background-color: var(--brand-color-back);
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.nav-icon__item:not(:last-child) {
  margin-right: 30px;
}
.nav-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icon__icon {
}
