.nav-block-icon {
  display: flex;
  align-items: stretch;
  padding-top: 0px;
}
.nav-block-icon_item:not(:last-child) {
  margin-right: 30px;
}
.nav-block-icon_title {
  width: 270px;
  height: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.nav-block-icon_text {
  width: 270px;
  height: 75px;
  font-weight: 400;
  color: var(--brand-color-text);
}
