.nav-block-icon {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 0px;
}
.nav-block-icon__item:not(:last-child) {
  margin-right: 30px;
}
.nav-block-icon__title {
  width: 270px;
  height: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.nav-block-icon__text {
  width: 270px;
  height: 75px;
  font-weight: 400;
  color: var(--brand-color-text);
}
