.button-label {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
  border-color: var(--brand-color-basic);
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
}

.label .customers-icon:hover,
.label .customers-icon:focus {
  box-shadow: var(--brand-color-basic);
}
.button-modal {
  display: flex;
}

.icon-modal-button {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
