.nav-ourteam__icon {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
}
.nav-ourteam__item {
  box-shadow: 0px 1px 3px getColor(box-ourtem),
    0px 1px 1px getColor(box-ourtema), 0px 2px 1px getColor(box-ourteamb);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: getColor(box-back);
}
.nav-ourteam__item:not(:last-child) {
  margin-right: 30px;
}
.nav-ourteam__name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.nav-ourteam__img {
  font-size: 16px;
  line-height: 1.2;
  color: var(--brand-color-title);
  font-weight: 500;
}
.nav-ourteam__spec {
  font-size: 16px;
  color: var(--brand-color-text);
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 16px;
}

@function getColor($key) {
  @return map-get($colors, $key);
}
