.ourteam {
  background: var(--brand-color-back);
}
.nav-ourteam__title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--brand-color-title);
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
