/**social**/
.social-link:hover,
.social-link:focus {
  background-color: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--brand-color-back);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  fill: var(--brand-color-back);
}
.social-item:not(last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: var(--brand-color-link);
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--brand-color-basic);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--brand-color-back);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  fill: var(--brand-color-back);
}
.social-item:not(last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: var(--brand-color-link);
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social {
  color: var(--brand-color-back);
  display: block;
}

.footer-social-icon {
  fill: var(--brand-color-name);
}

.footer-join {
  margin-bottom: 20px;
  padding-top: 0px;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: var(--brand-color-name);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.footer-social-link {
  background-color: var(--brand-color-link-footer);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.footer-alle {
  display: flex;
  align-items: baseline;
}
