.main-nav__webh {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
}
.main-nav__webf {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
}

.main-nav__webhed {
  color: var(--brand-color-title);
}
.main-nav__webfs {
  color: var(--brand-color-name);
}
/* ********************** */

.web-studio-header {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
}
.web-studio-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
}

.heder-web {
  color: var(--brand-color-title);
}
.footer-studio {
  color: var(--brand-color-name);
}
